p {
  width: 350px;
  margin: auto;
  text-align: justify;
}

div {
  text-align: center;
  width: 200px;
  padding: 80px 10px;
  background-color: lightblue;
  position: fixed;
  left: 250px;
  top: 100px;
}
